
<section class="cartao-cadastro-morador">
  <h2>Primeiro acesso do morador</h2>
  <p>Preencha seus dados e informe o código entregue pelo síndico.</p>
  
  <div class="campo-cadastro">
    <label  class="label-codigo "  for="codigo">Código entregue pelo síndico</label>
    <input class="campo-dourado"   id="codigo" #codigoInput type="text" placeholder="Ex.: MOR-001" />
  </div>
  
  <div class="campo-cadastro">
    <label for="nome">Nome</label>
    <input
      id="nome"
      #nomeInput
      type="text"
      autocomplete="given-name"
      placeholder="Digite seu nome"
    />
  </div>

  <div class="campo-cadastro">
    <label for="sobrenome">Sobrenome</label>
    <input
      id="sobrenome"
      #sobrenomeInput
      type="text"
      autocomplete="family-name"
      placeholder="Digite seu sobrenome"
    />
  </div>

  <div class="campo-cadastro">
    <label for="telefone">Telefone</label>
    <input
      id="telefone"
      #telefoneInput
      type="tel"
      autocomplete="tel"
      placeholder="Ex.: (92) 99999-9999"
    />
  </div>

  <div class="campo-cadastro">
    <label for="cpf">CPF</label>
    <input
      id="cpf"
      #cpfInput
      type="text"
      inputmode="numeric"
      autocomplete="off"
      placeholder="Digite seu CPF"
    />
  </div>


  <div class="campo-cadastro">
    <label for="senha">Crie uma senha</label>
    <input
      id="senha"
      #senhaInput
      type="password"
      maxlength="6"
      autocomplete="new-password"
      placeholder="Crie uma senha de 6 caracteres"
    />
  </div>

  <div class="campo-cadastro">
    <label for="confirmar-senha">Confirme sua senha</label>
    <input
      id="confirmar-senha"
      #confirmarSenhaInput
      type="password"
      maxlength="6"
      autocomplete="new-password"
      placeholder="Digite a senha novamente"
    />
  </div>

  <button
    (click)="
      finalizarCadastro(
        nomeInput.value,
        sobrenomeInput.value,
        telefoneInput.value,
        cpfInput.value,
        codigoInput.value,
        senhaInput.value,
        confirmarSenhaInput.value
      )
    "
  >
    Finalizar cadastro
  </button>

  @if (erroCadastro !== '') {
    <p class="mensagem-erro">{{ erroCadastro }}</p>
  }

  @if (cadastroConcluido !== '') {
    <p class="mensagem-sucesso">{{ cadastroConcluido }}</p>
  }

  <div>
    <span
    class="dourado"
    (click)="voltarParaLogin()">
    Já tem login?/login
    </span>
  </div>
</section>
