<h1 class="font">{{ title() }}</h1>

<p class="font">Sistema de gerenciamento de Condomínio</p>

@if (telaAtual === 'perfil') {
  <section class="cartao-acesso">
    <h2>Escolha seu perfil</h2>

    <div class="opcoes-perfil">
      <button class="card-perfil" (click)="escolherPerfil('morador')">
        <img class="icone-perfil" src="/icones/morador.webp" alt="Ícone de morador">
        <strong>Morador</strong>
        <span>Abra e acompanhe os seus chamados.</span>
      </button>

      <button class="card-perfil" (click)="escolherPerfil('sindico')">
        <img class="icone-perfil" src="/icones/sindico.webp" alt="Ícone de síndico">
        <strong>Síndico</strong>
        <span>Gerencie, resolva e acompanhe os chamados.</span>
      </button>
    </div>

    @if (perfil_selecionado !== '') {
      <p class="font2">Perfil escolhido: {{ perfil_selecionado }}</p>

      <button class="botao-continuar "(click)="ir_paralogin()">
        Continuar para login
      </button>
    } @else {
      <p>Escolha como deseja entrar no sistema.</p>
    }
  </section>
}

@if (telaAtual === 'login'){
  <section class="cartao-acesso">
    
<h2>Área de Login</h2>

<p class="texto-perfil">
  Você está entrando como:
  <strong>{{ perfil_selecionado }}</strong>
</p>

<button class="botao-voltar" (click)="voltarParaPerfil()">
  Voltar para escolha de perfil
</button>

<div class="campo-login">
  <label for="identificador">E-mail ou CPF</label>

  <input
    id="identificador"
    #identificadorInput
    type="text"
    placeholder="Digite seu e-mail ou CPF"
    required>
</div>

<div class="campo-login">
  <label for="senha">Senha</label>

  <input
    id="senha"
    #senhaInput
    maxlength="6"
    type="password"
    placeholder="Digite sua senha"
    required>
</div>

<button
  class="botao-entrar"
  (click)="fazerLogin(identificadorInput.value, senhaInput.value)">
  Entrar
</button>

@if (erroLogin !== '') {
  <p class="mensagem-erro">{{ erroLogin }}</p>
}
</section>
}
@if (telaAtual === 'sistema') {
   <button class="botao-voltar" (click)="sair()">
  sair do app
</button>
  <app-chamados
  [perfil]="perfil_selecionado"
  [usuarioLogado]="usuarioLogado">
</app-chamados>
}
